<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NURL-manager{% endblock %}</title>
        <style>
            @import '/css/style.css';
            {% block stylesheets %}{% endblock %}
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div id="site-title">NURL-manager</div>

            <nav>
                <ul>
                    <li>
                        <a href="{{ path('nurl_index') }}">Nurls</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="{{ path('nurl_new') }}">Add nurl</a>
                    </li>
                    <li>|</li>


                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('user_profile', {'id':app.user.id}) }}">User</a>
                        </li>
                        <li>|</li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_index') }}">Admin</a>
                        </li>
                        <li>|</li>
                    {% endif %}
                    <li>
                        {% if app.user %}
                            <a href="{{ path('logout') }}">Logout</a>
                        {% else %}
                            <a href="{{ path('login') }}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>

            <div id="login">

            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
