{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.username }}</h1>

    {% if (user == app.user) or is_granted('ROLE_ADMIN') %}
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save changes" />
        {{ form_end(edit_form) }}
    {% else %}
        Username: {{ user.username }}
        <br>
        email: {{ user.email }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
    <h2>{{ user.username }}'s NURLs</h2>
    <ul>
        {% for nurl in nurls %}
            <li>{{ nurl.title }}</li>
        {% endfor %}
    </ul>
    {% if (user == app.user) or is_granted('ROLE_ADMIN') %}
        {% if collections is not empty %}
            <h2>NURLs in collection</h2>
            <ul>
                {% for collection in collections %}
                    <li>ID: {{ collection.nurl.id }} title: {{ collection.nurl.title }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if shared_collections is not empty %}
            <h2>Shared with {{ user.username }}</h2>
            <ul>
                {% for shared_collection in shared_collections %}
                    <li>Collection ID: {{ shared_collection.collection.id }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
