{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sharedcollections list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sharedCollection in sharedCollections %}
            <tr>
                <td><a href="{{ path('sharedcollection_show', { 'id': sharedCollection.id }) }}">{{ sharedCollection.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sharedcollection_show', { 'id': sharedCollection.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sharedcollection_edit', { 'id': sharedCollection.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sharedcollection_new') }}">Create a new sharedCollection</a>
        </li>
    </ul>
{% endblock %}
